html, body {
    min-height: 100%;
    width: 100%;
}

fieldset {
    border: #000 solid 1px;
}

legend {
    background-color: #70BF54;
    color: #333;
    padding: 4px;
    border: #000 solid 1px;
}

#search-map {
    background-color: grey;
    height: 400px;
}

#search-form {
    width: 300px;
    margin: auto;
}

#search-form label {
    display: inline-block;
    width: 140px;
    padding: 10px 0px;
}

#search-form input[type="text"] {
    width: 150px;
}

#search-form button {
    margin-left: 100px;
    margin-top: 10px;

    width: 75px;
    padding: 5px;
    background-color: #70BF54;
    border-color: #333;
    color: #333;
}

#results-container {
    visibility: hidden;
}

.result {
    display: inline-block;
    margin: 10px;
    border: #FFF solid thin;
    padding: 5px;
    min-width: 120px;
}
