html, body {
    min-height: 100%;
    width: 100%;
}

fieldset {
    border: #FFF solid 1px;
}

legend {
    background-color: #70BF54;
    color: #333;
    padding: 4px;
    border: #FFF solid 1px;
}

#search-map {
    background-color: grey;
    height: 400px;
}

#instructions {
    display: table;
    text-align: center;

    margin: 10px auto;
    padding: 5px;

    border: #000 solid thin;
    background-color: #555;
}

#search-form {
    width: 400px;
    margin: auto;
}

#search-form label {
    display: inline-block;
    width: 200px;
    padding: 10px 0px;
}

#search-form input[type="text"] {
    width: 150px;
}

#search-form button {
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 50px;

    width: 75px;
    padding: 5px;
    background-color: #70BF54;
    border-color: #333;
    color: #333;
}
