html, body {
    min-height: 100%;
    width: 100%;
    min-width: 1000px;
    margin: 0px;
}

fieldset {
    border: #FFF solid 1px;
}

legend {
    background-color: #70BF54;
    color: #333;
    padding: 4px;
    border: #FFF solid 1px;
}

#search-map {
    background-color: grey;
    height: 400px;
    width: calc(100% - 20px);
    margin: 0px 10px;
}

#instructions {
    text-align: center;
    padding: 5px;
    border-bottom: #000 solid 1px;
    background-color: #454545;
    box-shadow: 0px 5px 5px #202020;
    margin-bottom: 25px;
}

#search-form {
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

#search-form label {
    display: inline-block;
    width: 200px;
    padding: 10px 0px;
}

#search-form input[type="text"] {
    width: 150px;
    padding: 0.5rem;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    color: #333333;
    font-size: 85%;
}

#search-form button {
    width: 75px;
    padding: 5px;
    color: #333333;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: solid 1px #333333;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

#search-button {
    background-color: #70BF54;
}

#clear-map-button {
    background-color: #EEEEEE;
}

#legend {
    float: left;
    margin: 10px;

    border: #000 solid thin;
    background-color: #555;
}

#ticket-gradient {
    height: 1em;
    background: -webkit-linear-gradient(to right, #00FF00, #FFFF00, #FF0000);
    background:    -moz-linear-gradient(to right, #00FF00, #FFFF00, #FF0000);
    background:      -o-linear-gradient(to right, #00FF00, #FFFF00, #FF0000);
    background:         linear-gradient(to right, #00FF00, #FFFF00, #FF0000);
}

#legend table img {
    height: 10px;
}

#legend table td {
    padding: 5px;
}

.info-text {
    color: #333;
}
